[
    {config, [
        #{
            files => ["erlang/**/*.erl"],
						rules => [
							{elvis_style, no_if_expression, disable},
							{elvis_style, no_receive_without_timeout, disable}
						],
            ruleset => erl_files
        }
    ]},
    % output_format (optional): how to format the output.
    % Possible values are 'plain', 'colors' or 'parsable' (default='colors').
    {output_format, colors},
    % verbose (optional): when 'true' more information will
    % be printed (default=false).
    {verbose, true},
    % no_output (optional): when 'true' nothing will be printed
    % (default=false).
    {no_output, false},
    % parallel: determine how many files will be
    % analyzed in parallel (default=1).
    {parallel, 1}
].
